services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: squizzing
      POSTGRES_PASSWORD: squizzing
      POSTGRES_DB: squizzing
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
